.add-btn {
  margin-top: 10px;
  cursor: pointer;
  height: 30px;
  border-radius: 10px;
  transition: 0.4s;
  background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
}

.add-btn:hover {
  transform: scale(1.01);
}

/* a {
  text-decoration: none;
} */

.deletePrd {
  margin: 10px;
}
